[github]
  user = rubyconsumer
  token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
[user]
  name = Winston Tsang
  email = rubyconsumer [at] rubyconsumer [dot] com
[alias]
  st = status
  sta = stash
  ci = commit
  br = branch
  co = checkout
  df = diff
  # lg = log -p
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar)%Creset %C(ul)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lo1 = log --graph --oneline --decorate
  lon = log --show-notes=* --graph --decorate
  lan = log --graph --decorate
  rt = remote
  wc = whatchanged
  nrspec = notes --ref=rspec add
  nrspec-js = notes --ref=rspec_js add
  ncukes = notes --ref=cucumber add
  pushnr = push origin refs/notes/rspec
  pushnc = push origin refs/notes/cucumber
  ncore = push core +refs/notes/*:refs/notes/*
  norigin = push origin +refs/notes/*:refs/notes/*
  track = branch --set-upstream

[remote "origin"]
  fetch = +refs/notes/*:refs/notes/*
  push = +refs/notes/*:refs/notes/*

[push]
	default = tracking

[apply]
   whitespace = nowarn
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = opendiff
[core]
  legacyheaders = false
[repack]
  usedeltabaseoffset = true
[instaweb]
  local = true
  httpd = webrick
  port = 9999
[pager]
  color = true
